#nba-75 {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 50px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 100px;
}

h1 {
  text-align: center;
  margin-right: 50px;
}

#introduction {

}

#search {
  display: flex;
  align-items: center;
}

.search-category {
  margin: 0 40px;
  padding: 10px;
}

.search-category > input {
  padding: 5px;
}

.search-label {
  font-weight: bold;
  margin: 0 10px;
}

#player-list {

}

.player-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-name img {
  padding: 20px;
}

.player-name > p:hover {
  color: blue;
  font-weight: bold;
}

.player-click {
  display: flex;
  flex-direction: column;
}

.player-team {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#arrow {
  font-size: 30px;
  padding-left: 10px;
  padding-top: 10px;
}

.team:hover, .show-stats:hover {
  color: blue;
  font-weight: bold;
}

.stats {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  background-color: blue;
}

table, th, td {
  border: 1px solid black;
  /* border-collapse: collapse; */
}

th, td {
  padding: 10px;
  background-color: white;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

a:hover {
  color: blue;
  /* font-size: larger; */
}

.hide-player-detail:hover {
  color: blue;
  font-weight: bold;
}